<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color:purple; height: 150px; position: fixed; bottom: 0px; z-index: 1;">
            <div class="row" style="height: 55px; position: absolute; top:55px; bottom: 55px;">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="background-color: black; height: 45px;"></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="background-color: red; height: 45px;"></div>
            </div>
        </div>
    </div>
</div>
