<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Demo-smallmsg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- 부트스트랩 3.3.7로 버전바꾸니 드랍다운에서 인풋클릭시 사라지는거 해결-->
    <script
    src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"
    integrity="sha256-eEa1kEtgK9ZL6h60VXwDsJ2rxYCwfxi40VZ9E0XwoEA="
    crossorigin="anonymous"></script>
<style>
.icon-color {
  color: black;
}
.nav {
  display: flex;
}
.msgtext{
    color: black;
}
.msgtext:link {
    color: black;
    text-decoration: none;
}
.msgtext:visited{
    color: black;
    text-decoration: none;
}
.msgtext:hover{
    color: black;
    text-decoration: none;
}
.msgtext:active{
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
  .nav > li {
    float: right;
  }
}

.frontpage_square{
position:relative;
overflow:hidden;
padding-bottom:100%;
}
.frontpage_square img{
position:absolute;
}
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-track{
    background-color: #003366;
}
::-webkit-scrollbar-thumb {
      background-color: #b39369;
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
      background-color: #7c2929;


::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */ /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */


.textarea_size {
    resize:none;
    line-height:150%;
    width:100%;
    overflow-y:hidden;
    height:30px;
    border:1px solid #ccc;
}
    </style>



</head>
<body>

    <!--navbar start-->
    <div class="navbar navbar-fixed-top" style="background-color: transparent; max-height: 50px; border-bottom-color: silv; border-bottom-width: 1px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                    <div class="navbar-header">

                        <button class="navbar-toggle navbar-right selected-icon" type="a" data-toggle="collapse" data-target=".navbar-collapse" style="margin-top: 0px;margin-bottom: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;border-top-width: 0px;width: 32px;padding-right: 0px;border-bottom-width: 0px;margin-right: 0px;border-right-width: 0px;border-left-width: 0px;">
                        	<ul class="nav navbar-nav" style="margin-top: 0px; margin-bottom: 0px; padding-left: 15px;">
								<li><a class="selected-icon" href="#" style="padding: 15px;"><i class="glyphicon glyphicon-search icon-color"></i></a></li>
							</ul>
                        </button>

                        <ul class="nav navbar-nav" style="margin-top: 0px; margin-bottom: 0px; padding-left: 15px;">
                            <li><a href="#" class="selected-icon" style="padding: 15px;"><i class="glyphicon glyphicon-comment icon-color" style="color:royalblue;"></i></a></li>
                            <li><a href="#" class="selected-icon" style="padding: 15px"><i class="glyphicon glyphicon-list-alt icon-color" style="text-shadow: -2px 0 royalblue, 0 2px royalblue, 2px 0 royalblue, 0 -2px royalblue;"></i></a></li>
                            <li><a href="#" class="selected-icon" style="padding: 15px"><i class="glyphicon glyphicon-user icon-color"></i></a></li>
                        </ul>

                    </div>

                    <div class="collapse navbar-collapse">

                        <form class="navbar-form navbar-left">
                            <div class="input-group input-group-sm" style="max-width:360px;">
                                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                    <ul class="nav navbar-nav" style="margin-top: 0px;margin-bottom: 0px;padding-left: 0px;">
                        <li class="dropdown">
                            <a href="#" class="selected-icon dropdown-toggle" data-toggle="dropdown" style="padding: 15px; margin-left: -3px; width: 44px;" aria-expanded="false"><i class="glyphicon glyphicon-option-horizontal icon-color"></i></a>
                            <ul class="dropdown-menu" style="background-color: #b39369;margin-left: -4px;">
                                <li>
                                    <a href="#" style="padding-left: 5px; padding-right: 5px;">Logout</a>
                                    <a href="#" style="padding-left: 5px; padding-right: 5px;">Setting</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!--navbar end-->

    <!--padding start-->
    <div class="container-fluid" style="margin-top: 60px">
        <div class="row"></div>
    </div>
    <!--padding end-->



<!--bigmsg base start-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"  style="border-bottom-width:0.5px; border-bottom-style: solid; border-bottom-color: #dddddd; padding: 10px;">

  <!-- Left-aligned media object -->
            <div class="media">
                <div class="media-left media-top">
                  <img src="https://i.ytimg.com/vi/YJZqi7LAW3E/maxresdefault.jpg" class="media-object pull-left img-circle" style="width:60px; height:60px;">
                </div>
                <div class="media-body" style="padding: 10px;">
                  <h4 class="media-heading"><b>아이린</b></h4>
                  <a class="msgtext"><p class="smallmsg_original">Lorem ipsum do <span class="badge pull-right" style="background-color: royalblue">6</span></p></a>

      <!-- bigmsg's smail pic start-->

                 </div>
                  <!-- bigmsg's smail pic end-->

             </div>
                  <!-- bigmsg's smail pic end-->
          <!-- bigmsg's smail pic end-->

        </div><!--Here is col-xs...-->
    </div>
</div>

<!--bigmsg base End-->


    <hr>
    <hr>
    <hr>
    <hr>
    <hr>

    <!--padding start-->
    <div class="container-fluid" style="margin-top: 60px">
        <div class="row">
            <button class="btn btn-primary" id="test-btn">button</button>

            <p><span style="background-color: gray; padding: 5px; border-radius: 3px;">welkfjsdlfkjwelkf</span></p>
                        <p><span style="background-color: gray; padding: 7px; border-radius: 5px; border-bottom-left-radius: 100px;">welkfjsdlfkjwelkf</span></p>

        </div>
    </div>
    <!--padding end-->


  <!-- Modal -->
  <div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog" id="myModal-dialog" style="overflow-y: initial !important;">

      <!-- Modal content-->
      <div class="modal-content" id="myModal-content">
        <div class="modal-header" id="myModal-header">
          <button type="button" class="close" data-dismiss="modal" id="myModal-button"><span class="glyphicon glyphicon-remove"></span></button>
          <h4 class="modal-title"><b>아이린</b>님 과의 대화글</h4>
        </div>
        <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <div class="row">
                    <div class=""  style="border-bottom-width:0.5px; border-bottom-style: solid; border-bottom-color: #dddddd; padding: 10px;">

              <!-- Left-aligned media object -->
                        <div class="media">
                            <div class="media-left media-top">
                              <img src="https://i.ytimg.com/vi/YJZqi7LAW3E/maxresdefault.jpg" class="media-object pull-left img-circle" style="width:60px; height:60px;">
                            </div>
                            <div class="media-body" style="padding: 10px;">
                              <a class="msgtext"><p class="pull-left" style="border-style: solid; border-width: thin; border-color: #cccccc; padding: 10px; border-radius: 10px; margin-right: 70px;">Lorem ipsum dosdk</p></a>

                  <!-- bigmsg's smail pic start-->

                             </div>
                              <!-- bigmsg's smail pic end-->

                         </div>

                        <div class="media">


                            <div class="media-body" style="padding: 10px;">
                              <a class="msgtext"><p class="pull-right" style="background-color: silver; padding:10px; color: black; margin-left: 70px; border-radius: 10px;">Lor티즌들 사이weflkjsdflkjwelkfjwlkd네티즌들 사이에 크게 주목받은 것 중 하나는 달라진 지효의 분위기였다. 최근 지효는 "컴백을 앞두고 다이어트를 하고 있다"고 밝혀 팬들의 걱정을 불러일으킨 바 있다. 다이어트 할 필요가 없는데 건강 상할까 걱정된다는 우려였다. 하지만 우려와 달리 지효는 'LIKEY' 뮤직 비디오에서 특유의 매력을 뽐냈다.

[출처: 중앙일보] 최근 지효jflwkejflkwejfsldkfjlk에 크</p></a>

                  <!-- bigmsg's smail pic start-->

                             </div>
                            <div class="media-right media-top">
                              <img src="https://i.ytimg.com/vi/YJZqi7LAW3E/maxresdefault.jpg" class="media-object pull-left img-circle" style="width:60px; height:60px;">
                            </div>

                              <!-- bigmsg's smail pic end-->

                         </div>

                        <div class="media-body" style="padding: 10px;">
                              <a class="msgtext"><p class="pull-right" id="ptext" style="background-color: silver; padding:10px; color: black;">Lor티즌<br>들 사이weflkjsdflkjwelkfjwlkd네티즌들 사이에 크게 주목받은 것 중 하나는 달라진 지효의 분위기였다. 최근 지효는 "컴백을 앞두고 다이어트를 하고 있다"고 밝혀 팬들의 걱정을 불러일으킨 바 있다. 다이어트 할 필요가 없는데 건강 상할까 걱정된다는 우려였다. 하지만 우려와 달리 지효는 'LIKEY' 뮤직 비디오에서 특유의 매력을 뽐냈다.

[출처: 중앙일보] 최근 다이어트 뒤 "느낌이 확 달라졌다"는 트와이스 지효jflwkejflkwejfsldkfjlk에 크</p></a>

                  <!-- bigmsg's smail pic start-->

                             </div>
                            <div class="media-right media-top">
                              <div class="pull-left" style="width:60px; height:60px;">
                            </div>

                              <!-- bigmsg's smail pic end-->

                         </div>
                              <!-- bigmsg's smail pic end-->
                      <!-- bigmsg's smail pic end-->

                    </div><!--Here is col-xs...-->
                </div>

            </div>
          <div class="modal-body">
              <form role="form">
                <div class="input-group input-group-sm" style="">
                    <textarea class="form-control" id="textarea_autoheight" placeholder="Enter email" style="resize: none; height: 44px;"></textarea>
                    <div class="input-group-btn" style="">
                        <button type="button" class="btn btn-default" id="textbtninput" style="height: 44px;"><i class="glyphicon glyphicon-send" style=""></i></button>
                    </div>
                </div>
              </form>
          </div>
          <div class="modal-body">
              <form role="form" style="width: 100%;">
                <div class="input-group input-group-sm" style="width: 100%;">
                  <input type="text" class="form-control" id="usrname" placeholder="Enter email" style="padding-bottom: 20%; padding-top: 3%;">
                </div>
              </form>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="container">

        <div class="dropdown bigdiv">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu bigul">
            <li><a href="#">dumped_li</a></li>
            <li class="ui-widget">
                <label for="tags">Tags: </label>
                <input id="tags">
            </li>
        </ul>
       </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <div class="anotherdiv" style="background-color: #447e9b; height: 300px;">
          GoesHere:
          <br/>
          <ul></ul>
      </div>




    </div>


</body>
<script>
    $(document).ready(function () {

var availableTags = [
  "ActionScript",
  "AppleScript",
  "Asp",
  "BASIC",
  "C",
  "C++",
  "Clojure",
  "COBOL",
  "ColdFusion",
  "Erlang",
  "Fortran",
];

$('#tags').autocomplete({
  search: function(event, ui) {
    $('.heat').empty();
  },
  source: availableTags
}).data('autocomplete')._renderItem = function(ul, item) {
  return $('<li></li>')
    .data('item.autocomplete', item)
    .append(item.value)
    .appendTo($('.heat'));
};



        $('.selected-icon').mouseenter(function () {
            $(this).css('background-color', '#7F613F');
        });
        $('.selected-icon').mouseleave(function () {
            if (!$(this).hasClass('clicked')){
                $(this).css('background-color', '#b39369');
            }
        });

        $('.selected-icon').click(function () {
            $(this).toggleClass('clicked');
        });


        $(".smallmsg_original").each(function () {
            var saved_t = $(this);
            var original_str = $(this).text();

            console.log("hi");
            if (original_str.length>20) {
                var subtracted_str = original_str.substr(0, 30);
                var p_plus_readmore_str = '<p class="smallmsg_modified" data="' + original_str + '">' + subtracted_str + '...</p>';
                console.log(p_plus_readmore_str);
                $(this).parent().children('p.smallmsg_original').html(p_plus_readmore_str);
            }
            else {
            }
        });

        $('#test-btn').click(function () {
            $('#myModal').modal();
        });

        $('#textbtninput').click(function () {
            var valed = $('#usrname').val();
            console.log(valed)
            $('#ptext').text(valed);
        });



      $('#textarea_autoheight').on( 'keydown', 'textarea', function (e){
        $(this).css('height', 'auto' );
        $(this).height( this.scrollHeight );
      });
      $('#textarea_autoheight').find( 'textarea' ).keydown();

/*
* javascript annotations for the end of document - ready
* */
    });


</script>
</html>